@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    background: linear-gradient(180deg, #0C0C0F 0%, #0B0C0C 100%);
  }
  .hero{
    /* background-image: url('/assets/images/hero-images.png'); */
    @apply pt-20 pb-[129px] bg-no-repeat bg-right-top
  }
  .bg-metamask{
    border-radius: 41px;
    border: 2px solid #BFDFFF;
    background: linear-gradient(117deg, rgba(56, 63, 75, 0.45) -10.25%, rgba(53, 58, 88, 0.45) 116.34%);
    backdrop-filter: blur(5px);
    padding: 10px 10px 10px 30px;
  }
  section.about-us{
    background-image: url('/assets/images/bg-about.png');
    @apply bg-top bg-no-repeat bg-cover
  }
  .bg-section{
    background-image: linear-gradient(338deg, rgba(21, 22, 29, 0.35) 55.72%, rgba(53, 58, 88, 0.35) 95.98%);
  }
  .separators{
    background-image: url('/assets/images/svg/img-separators.svg');
    @apply h-[286px] w-full bg-repeat-x
  }
  .cta-page{
    /* fill: var(--gradient-gradient-01, linear-gradient(117deg, #DB94FD -10.25%, #4A37F8 116.34%)); */
    background-image: linear-gradient(117deg, #DB94FD -10.25%, #4A37F8 116.34%);
  }
  .cta-contact{
    background: url('/assets/images/svg/bg-contact-btn.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .txt-mining{
    border-radius: 30px;
    background: linear-gradient(123deg, #FFF 58.68%, #CDCEE9 99.42%);
  }
  section.footer{
    border-top: 2px solid rgba(191, 223, 255, 0.40);
    background: linear-gradient(298deg, rgba(56, 63, 75, 0.06) 24.21%, rgba(53, 58, 88, 0.15) 99.86%);
  }
  .swiper {
    width: auto;
    height: auto;
  }
  .swiper-wrapper{
    -webkit-transition-timing-function:linear!important; 
    -o-transition-timing-function:linear!important;
    transition-timing-function:linear!important;
  }
  .swiper-slide{
    width: auto !important;
    height: auto !important;
  }
}